<body>
<div class="container" *ngIf="activeRole == 'ADMIN' || activeRole == 'ENCADRANT' ">
  <form [formGroup]="groupCreationForm" (ngSubmit)="createGroup()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>CRÉER UN GROUPE</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" placeholder="Nom du nouveau groupe">
          </mat-form-field>
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="groupCreationForm.invalid">Créer le groupe</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<br>
<div class="container">
  <h3>LISTE DES GROUPES</h3>
  <table class="table table-bordered table-condensed table-hover table-striped" id="liste_groups">
    <thead>
    <th>ID</th>
    <th>NOM DU GROUPE</th>
    <th>MEMBRES</th>
    <th *ngIf="activeRole">ACTIONS</th>
    </thead>
    <tbody>
    <tr *ngFor="let group of groupsList">
      <td>{{group.id}}</td>
      <td>{{group.name}}</td>
      <td>{{group.users.length}}</td>
      <td *ngIf="activeRole == 'ENCADRANT' ">
        <button mat-stroked-button color="primary" (click)="getStats(group.id)"><mat-icon fontIcon="pie_chart"></mat-icon>Analyse</button></td>
      <td *ngIf="(activeRole == 'UTILISATEUR' || activeRole == 'ENCADRANT')">
        <button mat-stroked-button color="primary" *ngIf="(activeRole == 'UTILISATEUR' || activeRole == 'ENCADRANT') && !activeUserGroups.includes(group.id)"
                  (click)="joinGroup(group)">Rejoindre</button>
          <button mat-stroked-button color="primary" *ngIf="(activeRole == 'UTILISATEUR' || activeRole == 'ENCADRANT') && activeUserGroups.includes(group.id)"
                  (click)="leaveGroup(group)">Quitter</button></td>
      <td *ngIf="activeRole == 'ADMIN' || activeRole == 'ENCADRANT' ">
        <button mat-stroked-button color="primary"><mat-icon>edit</mat-icon></button></td>
      <td *ngIf="activeRole == 'ADMIN' || activeRole == 'ENCADRANT' ">
        <button mat-stroked-button color="warn" (click)="delete(group.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
    </tbody>
  </table>

</div>
<br><br>
</body>
