<div class="container">
<div *ngIf="activeUserRole == Role.ADMIN ">
  <h3>LISTE DES UTILISATEURS</h3>

  <table class="table table-bordered table-condensed table-hover table-striped" id="liste_users">
    <thead>
      <th>ID</th>
      <th>PSEUDO</th>
      <th>PRÉNOM</th>
      <th>NOM</th>
      <th colspan="3">ACTIONS</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td><button mat-stroked-button color="primary">Modifier</button></td>
        <td><button mat-stroked-button color="warn" *ngIf="!deleteConfirmation && user.id != 1" (click)="askDeleteConfirmation(user.id)">Supprimer</button>
          <button mat-raised-button color="warn" *ngIf="deleteConfirmation  && user.id == idUserToDelete" (click)="delete(user.id)">Confirmer suppression</button>
          <button mat-raised-button color="accent" *ngIf="deleteConfirmation  && user.id == idUserToDelete" (click)="cancelDelete(user.id)">Annuler suppression</button></td>
      </tr>
    </tbody>

    <tfoot></tfoot>
  </table>


</div>

</div>
