<body>
<div class="container" *ngIf="activeUser != null">

  <h2>MON PROFIL PIP</h2>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Mes données personnelles</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table class="profil-data">
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{activeUser.id}}</td>
          </tr>
          <tr>
            <td>PSEUDO</td>
            <td>{{activeUser.username}}</td>
          </tr>
          <tr>
            <td>PRÉNOM</td>
            <td>{{activeUser.firstname}}</td>
          </tr>
          <tr>
            <td>NOM</td>
            <td>{{activeUser.lastname}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Test des 16 personnalités</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="activeUser.personality != null">
        <p class="purple">MA PERSONNALITÉ : {{activeUser.personality}}</p>
        <button mat-stroked-button color="primary" (click)="showUpdatePersonality()"><mat-icon>edit</mat-icon>Modifier</button>
      </div>
      <br><br>
      <div class="personalities_link" *ngIf="activeUser.personality == null || showPersonalityForm">
        <mat-card-subtitle>Infos et instructions</mat-card-subtitle>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <br>
        <button mat-raised-button color="primary"><a target="_blank" href="https://www.16personalities.com/fr">  Accéder au test des 16 personnalités</a></button>
        <br><br>

        <form [formGroup]="personalityForm" (ngSubmit)="updatePersonality()">
          <mat-form-field>
            <label for="personality-form">Mon résultat = </label>
            <select matNativeControl formControlName="personality" id="personality-form">
              <option ngValue="INTJ">{{PersonalityResult.INTJ}}</option>
              <option ngValue="INTP">{{PersonalityResult.INTP}}</option>
              <option ngValue="ENTJ">{{PersonalityResult.ENTJ}}</option>
              <option ngValue="ENTP">{{PersonalityResult.ENTP}}</option>
              <option ngValue="INFJ">{{PersonalityResult.INFJ}}</option>
              <option ngValue="INFP">{{PersonalityResult.INFP}}</option>
              <option ngValue="ENFJ">{{PersonalityResult.ENFJ}}</option>
              <option ngValue="ENFP">{{PersonalityResult.ENFP}}</option>
              <option ngValue="ISTJ">{{PersonalityResult.ISTJ}}</option>
              <option ngValue="ISFJ">{{PersonalityResult.ISFJ}}</option>
              <option ngValue="ESTJ">{{PersonalityResult.ESTJ}}</option>
              <option ngValue="ESFJ">{{PersonalityResult.ESFJ}}</option>
              <option ngValue="ISTP">{{PersonalityResult.ISTP}}</option>
              <option ngValue="ISFP">{{PersonalityResult.ISFP}}</option>
              <option ngValue="ESTP">{{PersonalityResult.ESTP}}</option>
              <option ngValue="ESFP">{{PersonalityResult.ESFP}}</option>
            </select>
          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="personalityForm.invalid">Valider</button>
          </mat-card-actions>

        </form>

      </div>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Test RIASEC : intérêts professionnels</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="activeUser.riasec != null">
        <p class="purple">MES INTÉRÊTS PROFESSIONNELS : {{activeUser.riasec[0]}}, {{activeUser.riasec[1]}}, {{activeUser.riasec[2]}}</p>
        <button mat-stroked-button color="primary" (click)="showUpdateRiasec()"><mat-icon>edit</mat-icon>Modifier</button>
      </div>
      <br><br>
      <div class="riasec_link" *ngIf="activeUser.riasec == null || showRiasecForm">
        <mat-card-subtitle>Les origines du test</mat-card-subtitle>
        <p>Le profil RIASEC est un modèle théorique élaboré par le psychologue et chercheur américain John Holland dans les années 70.

          L'acronyme résume les 6 types de personnalité définis par Holland. Le type Réaliste aime gérer les choses tangibles et aiment en général bricoler. Le type Investigateur préfère se poser des questions et aborder les choses selon une problématique. Le type Artistique adore créer et s'exprimer aux travers de médium. Le type Social aime gérer les gens, il est communicatif. Enfin le type Entreprenant n'aime pas se poser des questions il aime agir.

          Selon Holland le choix d'une profession, d'un métier, est une forme d'expression de la personnalité. L'appartenance d'un individu à l'un ou l'autre des six types est déterminée par ses habiletés, ses intérêts et certains traits de sa personnalité. Chaque profession implique un ensemble d'aptitudes et de postures correspondants à chacun des profils dans des mesures différentes. Holland a ainsi pu dresser une carte du monde professionnel qui permet à chacun de découvrir pour quels métiers il est fait.</p>

        <mat-card-subtitle>La théorie vocationnelle des métiers</mat-card-subtitle>
        <p>Selon HOLLAND, les personnes d’un même « type » exercent souvent le même genre de travail, parce qu’ils s’apparentent par leur personnalité, parce qu’ils poursuivent des objectifs semblables, parce qu’ils présentent les mêmes dispositions physiques et psychologiques à l’égard de leur travail. La typologie d’une personne est établie en mesurant son degré d’affinité avec chacun des 6 types de manière à la classer par ordre d’importance, du type le plus marqué au type le moins marqué. Chez la plupart des gens, ce sont surtout les deux ou trois premiers types de leur hiérarchie personnelle qui ont une influence significative sur leur manière d’être et d’agir, tant dans leur vie personnelle que professionnelle.

          Ce modèle est donc d'un intérêt particulier, car à défaut d'autres modèles existants il ne définit pas exactement la personnalité, mais plutôt la vocation. Il vise à déterminer quelles sont les intérêts professionnels de l'individu et augmente la congruence de certains métiers avec le profil auquel il correspond.

          En résumé, il permet simplement et efficacement de trouver le métier dans lequel l'individu va être extrêmement motivé et épanoui. Aujourd'hui cette typologie est devenue une référence mondiale dans le milieu de l'orientation professionnelle.</p>
        <br>
        <button mat-raised-button color="primary"><a target="_blank" href="https://test-orientation.studyrama.com/test/interets-professionnels">  Accéder au test des intérêts professionnels</a></button>
        <br><br>
        <form [formGroup]="riasecForm" (ngSubmit)="updateRiasec()">
          <mat-form-field>
            <label for="riasec-form1">Mon résultat 1 (dominant) = </label>
            <select matNativeControl formControlName="riasec1" id="riasec-form1">
              <option ngValue="REALISTE">{{RiasecResult.REALISTE}}</option>
              <option ngValue="INVESTIGATEUR">{{RiasecResult.INVESTIGATEUR}}</option>
              <option ngValue="ARTISTE">{{RiasecResult.ARTISTE}}</option>
              <option ngValue="SOCIAL">{{RiasecResult.SOCIAL}}</option>
              <option ngValue="ENTREPRENANT">{{RiasecResult.ENTREPRENANT}}</option>
              <option ngValue="CONVENTIONNEL">{{RiasecResult.CONVENTIONNEL}}</option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <label for="riasec-form2">Mon résultat 2 = </label>
            <select matNativeControl formControlName="riasec2" id="riasec-form2">
              <option ngValue="REALISTE">{{RiasecResult.REALISTE}}</option>
              <option ngValue="INVESTIGATEUR">{{RiasecResult.INVESTIGATEUR}}</option>
              <option ngValue="ARTISTE">{{RiasecResult.ARTISTE}}</option>
              <option ngValue="SOCIAL">{{RiasecResult.SOCIAL}}</option>
              <option ngValue="ENTREPRENANT">{{RiasecResult.ENTREPRENANT}}</option>
              <option ngValue="CONVENTIONNEL">{{RiasecResult.CONVENTIONNEL}}</option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <label for="riasec-form3">Mon résultat 3 = </label>
            <select matNativeControl formControlName="riasec3" id="riasec-form3">
              <option ngValue="REALISTE">{{RiasecResult.REALISTE}}</option>
              <option ngValue="INVESTIGATEUR">{{RiasecResult.INVESTIGATEUR}}</option>
              <option ngValue="ARTISTE">{{RiasecResult.ARTISTE}}</option>
              <option ngValue="SOCIAL">{{RiasecResult.SOCIAL}}</option>
              <option ngValue="ENTREPRENANT">{{RiasecResult.ENTREPRENANT}}</option>
              <option ngValue="CONVENTIONNEL">{{RiasecResult.CONVENTIONNEL}}</option>
            </select>
          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="riasecForm.invalid">Valider</button>
          </mat-card-actions>
        </form>

      </div>

    </mat-card-content>
  </mat-card>
  <br>
</div>
</body>
