/* You can add global styles to this file, and also import other style files */

.a-teal {
  color: #01859a;
}

.a-white {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bottom-margin {
  margin: 0;
  padding-bottom: 4rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box mat-card {
  margin-bottom: 1rem;
}

.chart-card {
  width: 47.5vw;
  min-width: 550px;
  min-height: 400px;
}

.chart-container {
  width: 100%;
}

.chart-object {
  width: fit-content;
  height: auto;
  justify-content: center;
}

.container {
  padding: 1em;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  font-size: smaller;
  border-top: #f9c751 solid 1px;
}

h1, h2, h3, h4, h5{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

.img-404 {
  width: 100%;
  height: auto;
}

.img-logo {
  width: 30%;
  min-width: 300px;
  height: auto;
}

.chart-object .mat-mdc-card-header {
  justify-content: center;
}

/* TABLE RELATED */
table {
  width: 90%;
}

.table th,
.table td {
  text-align: left;
  padding: 1.6em;
  vertical-align: top;
  border: inherit;
}

.table thead tr {
  border-bottom: 1px solid #e1e1e1;
}

.table thead th {
  font-weight: bold;
  color: #3f3f3f;
  vertical-align: bottom;
}

.table caption + thead tr:first-child,
.table colgroup + thead tr:first-child,
.table thead:first-child tr:first-child {
  border-top: 0;
}

.table caption + thead tbody + .table caption + thead tbody,
.table colgroup + thead tbody + .table colgroup + thead tbody,
.table thead:first-child tbody + .table thead:first-child tbody {
  border-top: 1px solid #dedede;
}

.table caption {
  opacity: 0.5;
  font-size: 0.8em;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
  line-height: 2;
  margin: 1em 0;
}

.table-header-title {
  font-size: 2.4em;
  line-height: 3.2em;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1em;
  text-align: center;
}

.table-header-subtitle {
  font-size: 1.5em;
  line-height: 2.8em;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #212121;
  text-align: center;
}

.table-bordered thead tr {
  border-bottom-width: 2px;
}

.table-bordered tr {
  border-bottom: 1px solid #e1e1e1;
}

.table-condensed tr,
.table-condensed th,
.table-condensed td {
  padding: 0.8em;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}

.table-hover tbody tr {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.table-hover tbody tr:hover {
  background-color: #e7e7e7;
}

@media screen and (max-width: 768px) {
  .table-responsive-vertical .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical .table thead,
  .table-responsive-vertical .table tfoot {
    display: none;
  }
  .table-responsive-vertical .table tbody {
    display: block;
  }
  .table-responsive-vertical .table tbody tr {
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin-bottom: 1.6em;
  }
  .table-responsive-vertical .table tbody tr td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical .table tbody tr td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #3f3f3f;
  }
}

p {
  text-align: justify;
}

.profil-data {
  width: 25%;
}

.profile-object {
  width: 47.5vw;
  height: auto;
}

.purple {
  color: #6c41b5;
}

.welcome {
  font-style: italic;
  font-size: large;
  color: #6c41b5;
  text-align: center;
}
