<div class="bottom-margin">

<div class="container welcome" *ngIf="activeUser != null">
  <mat-card>
    <mat-card-content>
      <p> Bienvenue {{activeUser}} ! </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Entrée en matière</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>As-tu déjà pris le temps de faire un test de personnalité ? D’apprendre à te connaître ?</p>

      <p>Se connaître, c’est le travail de toute une vie… et de temps en temps, une introspection permet de remettre les choses à plat : Qui suis-je ? Quels sont les traits de mon caractère ? Quel est mon vrai tempérament ? Quelles sont mes valeurs ?</p>

      <p>Développer une meilleure connaissance de soi permet de plus facilement montrer sa personnalité et ses besoins aux autres, notamment au travail. Cela contribue à l’équilibre personnel et à un meilleur épanouissement.

        De plus, comprendre ton profil de personnalité peut t'aider dans ta recherche d'un métier qui a du sens pour toi.</p>
      <p>Les tests de personnalité explorés dans ton profil PIP sont :</p>
      <ul>
        <li>le test des 16 personnalités (MBTI)</li>
        <li>le test des intérêts professionnels (RIASEC)</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>MBTI : le test des 16 personnalités</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <mat-card-subtitle>Le MBTI, c’est quoi ?</mat-card-subtitle>
      <p>Pour la petite histoire, MBTI, c’est l'abréviation de Myers & Briggs Type Indicator. Cet inventaire de personnalité a été inventé par Katharine Cook Briggs et sa fille aux Etats-Unis au début du 20 ème siècle. Remarquant que sa fille et son futur mari, Clarence Myers, avaient une personnalité et des modes de fonctionnement très différents, Katharine entreprit des recherches pour comprendre les différents tempéraments.</p>

        <p>Et puis quand le psychologue Carl G. Jung publia ‘Les types psychologiques’ en 1921, Katharine y trouva des similarités avec ses propres typologies, tout en ayant conscience que les théories de Jung étaient plus abouties. Avec sa fille, elles voulurent rendre accessibles ces travaux sur les fonctions psychologiques au plus grand nombre et créèrent un questionnaire.</p>

        <p>L’instrument MBTI, publié pour la première fois en 1962, est depuis réajusté régulièrement. Parmi les tests psychométriques existant, il est l’un des plus utilisé, notamment par les psychologues pour déterminer la personnalité de leurs patients, détecter d’éventuels troubles de la personnalité, et par les recruteurs, dans le cadre de de test de personnalité professionnel et bilan de compétences.</p>
      <br>
      <mat-card-subtitle>Les limites du test</mat-card-subtitle>
      <p>Comme tous types de test de personnalité, le but du MBTI n’est pas de te mettre dans une case mais de te donner des indicateurs sur des aspects de ta personnalité pour t’aider à mieux te comprendre. L’idée n’est pas que tu te présentes à tous tes collègues comme un.e “ENFJ” ou “INTP”. Et puis comprendre que tu es plutôt introverti.e par exemple, ne signifie pas que tu n’es pas aussi extaverti.e, peut-être juste que tu as une préférence pour l’introversion.</p>

      <p>D’ailleurs, à l'issue du test, si certains traits personnels ne te parlent pas, ce n’est pas grave. Le MBTI reste avant tout un moyen pour t’aider à poser des mots sur qui tu es. Si tu repasses le test, tu verras que tu peux changer de personnalité, ton type de personnalité peut évoluer dans le temps.</p>

      <p>Le MBTI peut donc t’aider à mieux te connaître et à avancer sur le chemin de la reconversion professionnelle, mais garde en tête qu’il reste un outil, il ne doit pas t’enfermer ! Pour approfondir, n'hésite pas à suivre une formation avec un organisme ou un psychologue certifié en MBTI.</p>
    </mat-card-content>
  </mat-card>
  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>RIASEC : le test des intérêts professionnels</mat-card-title>
    </mat-card-header>
    <br>
  <mat-card-content>
    <mat-card-subtitle>Les origines du test</mat-card-subtitle>
    <p>Le profil RIASEC est un modèle théorique élaboré par le psychologue et chercheur américain John Holland dans les années 70.</p>

    <p>L'acronyme résume les 6 types de personnalité définis par Holland. Le type Réaliste aime gérer les choses tangibles et aiment en général bricoler. Le type Investigateur préfère se poser des questions et aborder les choses selon une problématique. Le type Artistique adore créer et s'exprimer aux travers de médium. Le type Social aime gérer les gens, il est communicatif. Enfin le type Entreprenant n'aime pas se poser des questions il aime agir.</p>

    <p>Selon Holland le choix d'une profession, d'un métier, est une forme d'expression de la personnalité. L'appartenance d'un individu à l'un ou l'autre des six types est déterminée par ses habiletés, ses intérêts et certains traits de sa personnalité. Chaque profession implique un ensemble d'aptitudes et de postures correspondants à chacun des profils dans des mesures différentes. Holland a ainsi pu dresser une carte du monde professionnel qui permet à chacun de découvrir pour quels métiers il est fait.</p>
    <br>
    <mat-card-subtitle>La théorie vocationnelle des métiers</mat-card-subtitle>
    <p>Selon HOLLAND, les personnes d’un même « type » exercent souvent le même genre de travail, parce qu’ils s’apparentent par leur personnalité, parce qu’ils poursuivent des objectifs semblables, parce qu’ils présentent les mêmes dispositions physiques et psychologiques à l’égard de leur travail. La typologie d’une personne est établie en mesurant son degré d’affinité avec chacun des 6 types de manière à la classer par ordre d’importance, du type le plus marqué au type le moins marqué. Chez la plupart des gens, ce sont surtout les deux ou trois premiers types de leur hiérarchie personnelle qui ont une influence significative sur leur manière d’être et d’agir, tant dans leur vie personnelle que professionnelle.

    <p>Ce modèle est donc d'un intérêt particulier, car à défaut d'autres modèles existants il ne définit pas exactement la personnalité, mais plutôt la vocation. Il vise à déterminer quelles sont les intérêts professionnels de l'individu et augmente la congruence de certains métiers avec le profil auquel il correspond.</p>

    <p>En résumé, il permet simplement et efficacement de trouver le métier dans lequel l'individu va être extrêmement motivé et épanoui. Aujourd'hui cette typologie est devenue une référence mondiale dans le milieu de l'orientation professionnelle.</p>

  </mat-card-content>
  </mat-card>
  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Autres exemples de tests de personnalité</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Comme test de connaissance de soi, il existe aussi :</p>

      <mat-card-subtitle>L’Ikigai</mat-card-subtitle>
      <p>Un test pour se connaître et trouver son équilibre professionnel et personnel grâce à la combinaison de 4 dimensions :</p>

        <ul>
          <li>ce que tu aimes faire</li>
          <li>ce pour quoi tu es doué.e</li>
          <li>ce de dont le monde a besoin</li>
          <li>ce pourquoi tu es payé.e</li>
        </ul>

      <p>Ton Ikigaï, c’est le(s) point(s) commun(s) entre les 4.

      Pour aller plus loin, tu peux lire <a class="a-teal" href="https://jobs.makesense.org/fr/media/guide-reconversion-professionnelle/ikigai/">cet article</a> de "jobs_that_makesense".</p>
      <br>

        <mat-card-subtitle>Process Com</mat-card-subtitle>
      <p>Test professionnel de personnalité qui identifie 6 profils de personnalités et qui propose des outils pour faciliter les échanges entre personnes dans les situations de communication. Il s'agit d'un test payant.</p>
      <br>

        <mat-card-subtitle>OCEAN</mat-card-subtitle>
      <p>Test de caractère qui part du principe que les traits de personnalité les plus communs peuvent être répertoriés sous 5 dimensions :</p>

        <ul>
          <li>Ouverture à l’expérience</li>
          <li>Conscience</li>
          <li>Extraversion</li>
          <li>Agréabilité</li>
          <li>Névrosisme</li>
        </ul>

      <p>soit O-C-E-A-N, facile à mémoriser.
      Pour plus d'informations, tu peux te diriger vers <a class="a-teal" href="https://www.avenir-coherence.com/test/test-de-personnalite-ocean/">ce site</a>, par exemple.</p>
    </mat-card-content>
  </mat-card>
  <br>
</div>
<br>
</div>

