<body>

<div class="container welcome" *ngIf="activeUser != null">
  <mat-card>
    <mat-card-content>
      <p> Bienvenue {{activeUser}} ! </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>UN MOT SUR L'APPLI</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>CONSEILS</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <br>
      <mat-card-subtitle>Test des 16 personnalités</mat-card-subtitle>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <br>
      <mat-card-subtitle>Test des intérêts professionnels (RIASEC)</mat-card-subtitle>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <br>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>INFOS UTILES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </mat-card-content>
  </mat-card>
  <br>
</div>
<br>
</body>

